
{% extends 'app/base.html' %}
	{% load static %}
	{% block content %}





<section class="page-section clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper" style="color:white;">Contactate con nosotros</span>
                <span class="section-heading-lower" style="color:white;">{% if "valido" in request.GET %} tu mensaje ha sido enviado, Gracias {% elif "invalid" in request.GET %} tu mensaje No ha sido enviado, ErROR 
                {% else %} Envianos un mensaje {% endif %}</span>
              </h2>

              <form action='' method="POST" style="text-align:center;"> 
              	{%csrf_token%}
              <table class="mb-0" style="color:white;" margin="20 px auto">{{miformulario.as_table}}</table>
              <input type="submit" value="enviar" name="Enviar" style="width: 100px;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    


    {% endblock %}
